<div id="items">
                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/mlb/story/_/id/25420692/cleveland-indians-trade-catcher-yan-gomes-washington-nationals?device=featurephone">Indians deal All-Star catcher Gomes to Nationals</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/nfl/story/_/id/25420168/kareem-hunt-kansas-city-chiefs-placed-commissioner-exempt-list?device=featurephone">Chiefs cut ties with Hunt after release of video</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/nfl/story/_/id/25420168/kareem-hunt-kansas-city-chiefs-placed-commissioner-exempt-list?device=featurephone">Chiefs cut ties with Hunt after release of video</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/chalk/story/_/id/25420619/fanduel-pays-bets-alabama-crimson-tide-national-champions?device=featurephone">Sportsbook pays out national champ bets on Tide</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/mlb/story/_/id/25420487/billy-hamilton-jonathan-schoop-non-tenders-looking-work?device=featurephone">Where non-tenders such as Hamilton, Schoop could land</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/nfl/story/_/id/25420168/kareem-hunt-kansas-city-chiefs-placed-commissioner-exempt-list?device=featurephone">Chiefs' Hunt lands on commissioner's exempt list</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/chalk/story/_/id/25420619/fanduel-pays-bets-alabama-crimson-tide-national-champions?device=featurephone">FanDuel paying out national champs bets on Tide</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/mlb/story/_/id/25420487/billy-hamilton-jonathan-schoop-non-tenders-looking-work?device=featurephone">Where non-tenders such as Hamilton, Schoop could land</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/college-football/story/_/id/25420275/alabama-oc-mike-locksley-one-three-finalists-coach-maryland?device=featurephone">Sources: Alabama OC finalist to coach Maryland</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/golf/story/_/id/25420087/tiger-woods-hits-ball-twice-shot-hero-world-challenge-avoids-penalty?device=featurephone">Tiger didn't know he hit ball twice, avoids penalty</a></span>
                          </div>



</div>
