<div id="items">
                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/nfl/story/_/id/27843267/tom-brady-try-lure-rob-gronkowski-retirement?device=featurephone">Brady won't try to lure Gronk out of retirement</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/college-football/story/_/id/27840058/college-football-midseason-awards-best-players-teams-moments?device=featurephone">College football midseason awards: The best players, teams and moments</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/mlb/story/_/id/27839609/inside-wildest-48-hours-washington-nationals-pitcher-daniel-hudson-life?device=featurephone">First comes the NLDS, then comes ... a baby? Inside Daniel Hudson's life-altering weekend</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/mlb/story/_/id/27839424/mlb-playoffs-daily-cardinals-bats-need-wake-nationals?device=featurephone">MLB Playoffs Daily: Will Cardinals' bats wake up vs. Nats, Strasburg?</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/olympics/story/_/id/27836260/no-hyperbole-here-simone-biles-greatest?device=featurephone">No hyperbole here: Simone Biles is the greatest</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/nfl/story/_/id/27840057/barnwell-answering-nine-questions-define-nfl-season?device=featurephone">Barnwell: Answering nine questions that could define the NFL season</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/nfl/story/_/id/27841048/jerry-jones-cowboys-recent-losses-not-all-jason-garrett?device=featurephone">Jerry Jones: Dallas' free fall 'not just' on Garrett</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/nfl/story/_/id/27839457/let-overreact-week-6-nfl-chiefs-team-big-issues?device=featurephone">Let's overreact to Week 6 in the NFL: This Chiefs team has big issues</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/nfl/story/_/id/27814828/kelly-stafford-recovery-brain-tumor-my-biggest-fear-not-being-here?device=featurephone">Kelly Stafford's recovery from brain tumor: 'My biggest fear is not being here'</a></span>
                          </div>


                          <div class="espn_feed" dir="ltr">
                              <span class="itemtitle"><a href="http://www.espn.com/nfl/story/_/id/27836055/he-got-mossed-randy-moss-taught-packers-marquez-valdes-scantling?device=featurephone">He got Mossed: What Randy Moss taught Packers' Marquez Valdes-Scantling</a></span>
                          </div>



</div>
