<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" 
    content="News, weather, and sports - updated twice each hour">
    <meta name="author" content="bob carr">
    <meta http-equiv="refresh" content="900">
    <link rel="icon" href="./favicon.ico">

    <title>Our Place - News, Weather, & Sports</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./css/starter-template.css" rel="stylesheet">
    <link href="./css/grid.css" rel="stylesheet">  
    <!-- Local CSS -->
    <link rel="stylesheet" href="./css/ourplace2.css" type="text/css"/>
    
    

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Our Place<br />News, Weather, & Sports</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="./technology_news.html">Technology News</a></li>
            <li><a href="#contact">GIS News</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Links<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <ul class="dropdown-menu scroll-menu">
                            <li class="dropdown-header">Newspapers/TV</li>
                            <li><a href="http://www.purdueexponent.org/">Purdue Exponent</a></li>
                            <li><a href="http://www.jsonline.com/">Milwaukee Journal</a></li>
                            <li><a href="http://www.chicagotribune.com/">Chicago Tribune</a></li>
                            <li><a href="http://uppermichiganssource.com/">TV 6 - Marquette</a></li>
                            <li><a href="https://news.google.com/">Google News</a></li>
                            
                            <li class="divider"></li>
                            <li class="dropdown-header">Computer News</li>
                            <li><a href="https://news.ycombinator.com/news">Hacker News</a></li>
                            <li><a href="http://www.slashdot.org/">Slashdot</a></li>
                            <li><a href="http://arstechnica.com/index.ars">Ars Technica</a></li>
                            <li><a href="http://www.cnet.com/">CNET</a></li>
                            <li><a href="http://techcrunch.com/">TechCrunch</a></li>
                            <li><a href="http://www.dslreports.com/">DSL Reports</a></li>
                            <li><a href="http://www.dailyrotation.com/">Daily Rotation</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Sports</li>
                            <li><a href="http://espn.go.com/">ESPNET SportsZone</a></li>
                            <li><a href="https://www.mlb.com/live-stream-games/">MLB TV</a></li>
                            <li><a href="http://mlb.mlb.com/mlb/official_info/broadcasts/national.jsp">
                            MLB National TV</a></li>
                            <li><a href="http://www.espn.com/watch/schedule?type=upcoming">ESPN TV Schedule</a></li>
                            
                            <li><a href="http://thecubreporter.com/">The Cub Reporter</a></li>
                            
                            <li><a href="http://www.hammerandrails.com">Hammer & Rails</a></li>
                            <li><a href="http://chicago.cubs.mlb.com/NASApp/mlb/index.jsp?c_id=chc">
                            Chicago Cubs</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Internet Services</li>
                            <li><a href="http://www.google.com/gmail">GMail</a></li>
                            <li><a href="http://up.craigslist.org/">CraigsList UP</a></li>
                            <li><a href="http://up.net">UP.Net</a></li>
                            <li><a href="https://twitter.com/">Twitter</a></li>
                            <li><a href="https://drive.google.com/?pli=1#my-drive">Google Docs</a></li>
                            <li><a href="https://dnsleaktest.com/">DNS Leak Test</a></li>
                            <li><a href="http://www.speedtest.net/">Speedtest.net</a></li>
                            <li><a href="http://www.arin.net/index.shtml">ARIN IP Whois</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Tractor Links</li>
                            <li><a href="http://www.redpowermagazine.com/forums/index.php">
                            Red Power Forums</a></li>
                            <li><a href="http://www.tractorbynet.com/forums/">TractorByNet</a></li>
                            <li><a href="http://partstore.caseih.com/us/quinlans/parts-search.html#epc::mr02-198">
                            IH Parts</a></li>
                             <li class="dropdown-header">Work at Home</li>
                            <li><a href="https://github.com/racarr01">GitHub</a></li>
                            <li><a href="http://www.freebsd.org/">FreeBSD</a></li>
                            <li><a href="http://mapletrader.com/community/index.php">MapleTrader</a></li>
                            <li><a href="http://www.msusoiltest.com/l/9DCEZ3">MSU Soil Test #1</a></li>
                            <li><a href="http://www.msusoiltest.com/l/358C27">MSU Soil Test #2</a></li>
                            
                            </ul>
                        </ul>
                    </li>
                </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  
   <div class="container-fluid">
     <div class="spacetaker"></div>
      <div class="row">
        
        <div class="col-xs-12 col-sm-10">{% include op_news.htm %}</div>
        <div class="col-xs-12 col-sm-2" style="text-align: center;">
          <div class="wthr">Weather</div>
          
            {% include houghton_obs.htm %}
            {% include houghton.html %}
            {% include plymouth_obs.htm %}
            {% include plymouth.html %}
            {% include louisville_obs.htm %}
            {% include louisville.html %}
	        {% include bowling_green_obs.htm %}
            {% include bowling_green.html %}
	    
            <p class="left" style="font-size:120%; padding: 0px 0px 0px 8px;">
			ESPN Headlines</p> 
	       {% include espn_news.html %}
        </div>

      </div>
     

    </div><!-- /.container0fluid -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
  </body>
</html>
